body{
    background-color: rgb(31,30,30);
    font-family:"Roboto", sans-serif;
}

form{
    width: 30rem;
    margin:3rem auto;
    background-color: rgb(255, 255 , 255);
    padding: 1rem;
    border-radius: 6px;
}

label{
    margin-bottom: .5rem;
    display:block;
}

input, textarea, select{
    width: 100%;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font:inherit;
    border:1px solid rgb(0,0,0);
    padding: .25rem;
    color: rgb(61,58,58);
}
textarea{
    resize: vertical;
}
input:focus,
textarea:focus{
    background-color: rgb(219,190,253);
    color:rgb(32,5,63);
    border-color:rgb(32,5,63);
}
button, a{
    display: block;
    font: inherit;
    background-color: rgb(32,5,63);
    color:white;
    border:1px solid rgb(32,5,63);
    padding:.5rem 1.5rem;
    border-radius:5px;

    cursor: pointer;
}
button:hover{
    background-color: rgb(52,14,95);
    border-color:rgb(52,14,95);
}
.form-control-inline{
    display: flex;
    
}
.form-control-inline input{
    width: 2rem;
}
.druga{
    margin-top: 1rem;
}
a{
    text-align:center;
    text-decoration: none;
    width:3.5rem;
    height: 2rem;
    margin-top: 1rem;
    padding: .5rem 2rem 1rem;
}